{{define "subject"}}Welcome to njvanhaute.com / Jambuster!{{end}}

{{define "plainBody"}}
Hi,

Thanks for signing up for a njvanhaute.com / Jambuster API account. I'm excited to have you on board!

You can use the same account for both the website and the backend API.

To activate your account, visit https://njvanhaute.com/user/activate and enter the following code:

{{.activationToken}}

Alternatively, send a request to the `PUT /v1/users/activated` endpoint with the following JSON
body:

{"token": "{{.activationToken}}"}

Please note that this is a one-time use token and it will expire in 3 days.

Thanks,
Nicholas
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <p>Hi,</p>
    <p>Thanks for signing up for a njvanhaute.com / Jambuster API account. I'm excited to have you on board!</p>
    <p>You can use the same account for both the website and the backend API.</p>
    <p>To activate your account, visit <a href="https://njvanhaute.com/user/activate">https://njvanhaute.com/user/activate</a> and enter the following code:</p>
    <pre><code>{{.activationToken}}</code></pre>
    <p>Alternatively, send a request to the <code>PUT /v1/users/activated</code> endpoint with the
        following JSON body:</p>
        <pre><code>
            {"token": "{{.activationToken}}"}
        </code></pre>
    <p>Please note that this is a one-time use token and it will expire in 3 days.</p>
    <p>Thanks,</p>
    <p>Nicholas</p>
</body>

</html>
{{end}}
